.featured-products {
  .product-item {
    text-align: center;
    margin-bottom: 24px;
  }

  .item-icon {
    margin-bottom: 8px;
    position: relative;

    img {
      border-radius: 16px;
    }
  }

  .item-title {
    a {
      color: #000;
    }
  }

  .item-short-description {
    font-size: 14px;
  }

  .label-new {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 4px 12px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 12px 0 12px 0;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    &:nth-child(3), &:nth-child(4) {
      display: none;
    }
  }
}
