.featured-products {
  .product-item {
    text-align: center;
    margin-bottom: 24px;
  }

  .item-icon {
    margin-bottom: 8px;

    img {
      border-radius: 16px;
    }
  }

  .item-title {
    a {
      color: #000;
    }
  }

  .item-short-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    &:nth-child(3), &:nth-child(4) {
      display: none;
    }
  }
}
