.gumroad-follow-form-embed {
  zoom: 1;
}

.gumroad-follow-form-embed:before,
.gumroad-follow-form-embed:after {
  display: table;
  line-height: 0;
  content: "";
}

.gumroad-follow-form-embed:after {
  clear: both;
}

.gumroad-follow-form-embed * {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box !important;
  float: left !important;
}

.gumroad-follow-form-embed input {
  border-radius: 99em 0 0 99em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid transparent;
  border-right: 0;
  color: #aaa;
  padding: 10px;
  background-position: top right;
  background-repeat: no-repeat;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: caret;
  width: 65% !important;
  height: 40px !important;
}

.gumroad-follow-form-embed button {
  border-radius: 0 99em 99em 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  display: inline-block;
  padding: 11px 15px 12px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 100%;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000;
  border: 1px solid transparent;
  height: 40px !important;
  width: 35% !important;
  font-weight: 700;
}

.form-brand {
  font-size: 12px;
  margin-top: 8px;
  font-weight: 700;
  margin-left: 8px;

  a {
    color: #000;
    text-decoration: none;
  }
}
