.search-bar {
  .form-control {
    padding-left: 50px;
    border-radius: 2px;
  }

  .form-group {
    position: relative;
  }

  .search-icon {
    width: 30px;
    position: absolute;
    left: 30px;
    top: 10px;
  }

  .clear-icon {
    width: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
  }
}
