.search-bar {
  input.form-control {
    padding-left: 50px;
    border-radius: 99em;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    height: 48px;

    &:focus, &.active {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .1);
    }
  }

  .form-group {
    position: relative;
  }

  .search-icon {
    width: 30px;
    position: absolute;
    left: 30px;
    top: 10px;
  }

  .clear-icon {
    width: 20px;
    position: absolute;
    right: 30px;
    top: 14px;
    cursor: pointer;
  }
}
