<div class="product-item">
  {% if item.smallThumbnails %}
    <div class="item-image-stack" style="background-color: {{ item.color }}">
      {% for imageUrl in item.smallThumbnails %}
        <img src="{{ imageUrl }}" alt="">
      {% endfor %}
    </div>
  {% else %}
    <div class="item-image">
      <img src="{{ item.thumbnail }}" alt="">
      <a href="{{ item.marketUrl }}" target="_blank" class="item-image-overlay">
        <button class="btn btn-dark btn-view" data-title="{{ item.title }}">View</button>
      </a>
    </div>
  {% endif %}
  <div class="item-footer">
    <div class="item-info">
      <div class="item-icon">
        <a href="{{ item.url }}" title="{{ item.title }}">
          <img src="{{ item.icon }}" alt="">
        </a>
      </div>

      <div class="font-bold text-ellipsis">
        <a href="{{ item.url }}" title="{{ item.title }}">
          {{ item.title }}
        </a>
      </div>
      <div class="text-muted text-sm text-ellipsis" title="{{ item.description }}">
        {{ item.shortDescription }}
      </div>
      <div class="item-tags">
        <div class="tag tag-sm">
          {{ item.framework }}
        </div>
        <div class="tag tag-sm">
          {{ item.category }}
        </div>
        <!-- {% for tag in item.tags limit: 3 %}
          <div class="tag tag-sm">
            {{ tag }}
          </div>
        {% endfor %} -->
      </div>
    </div>

    <a href="{{ item.url }}" target="_blank" data-title="{{ item.title }}" class="item-price">
      {% if item.price == 0 %}
        <span class="text-danger">Free</span>
      {% else %}
        ${{ item.price }}
      {% endif %}
    </a>
  </div>
</div>
