<header role="banner">
  <div class="top-announcement">
    Blog post: <a href="https://medium.com/ionic-prototyping/my-journey-to-sanity-io-fe0a6576a417" target="_blank">My journey to Sanity.io</a>
  </div>

  <div class="header-wrapper">
    <div class="container d-flex flex-row align-items-center justify-content-between">
      <div class="navbar-logo d-flex flex-row align-items-center justify-content-between">
        {% include logo.html %}
        <div class="tagline">
          <span class="color-black font-bold">
            Take That Design <span class="d-none d-sm-inline">:</span>
          </span>
          <span class="text-muted d-none d-sm-inline">
            Kick start your next <span class="text-dark">Ionic</span> project
          </span>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="menu-item">
          <a href="/about">About</a>
        </div>
      </div>
    </div>
  </div>
</header>
