@import './variables.scss';
@import './helper.scss';

body {
  background-color: #f8f8f8;
  // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

::selection {
  background-color: #000;
  color: #fff;
}

.page-content {
  padding-top: 65px!important;
}

/**
 * HEADER
 */
.header-wrapper {
  padding: 8px 16px;
  background-color: #fff;
  height: 64px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,.97);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .tagline {
    margin-left: 16px;
    display: inline-block;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  padding: 4px 0 16px;
  display: block;
  min-width: 57px;
  letter-spacing: 2px;
  color: #000!important;
  font-weight: 700;

  &:visited, &:hover {
    color: #000!important;
    text-decoration: none;
  }

  .d-bg {
    position: relative;
    top: 6px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 400;
    margin-left: 0.1em;
    transform: rotate(-10deg);
    width: 30px;
    height: 30px;
  }

  .d-character {
    position: absolute;
    top: 4px;
    left: 6px;
    transform: rotate(10deg);
    font-weight: 700;
  }
}

/**
 * TAGS
 */
.tags-bar {
  padding: 8px 16px;
  text-align: center;

  ul {
    margin-left: 0;
  }
}

.tag {
  display: inline-block;
  border: 2px solid $divider;
  color: $textSecondary;
  padding: 4px 16px;
  border-radius: 999em;
  min-width: 80px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  transition: box-shadow 350ms ease-in-out;
  background-color: #fff;
  cursor: pointer;

  & + .tag {
    margin-left: 16px;
  }

  &:hover {
    background-color: $divider;
  }

  &.active {
    background-color: $textPrimary;
    color: #fff;
  }

  &.tag-sm {
    font-size: 9px;
    min-width: 40px;
    padding: 1px 8px;
    border: none;
    background-color: $divider;
    border-radius: 2px;

    & + .tag-sm {
      margin-left: 8px;
    }
  }
}

.product-item {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  transition: box-shadow 250ms ease-in-out;
  transition-property: box-shadow;
  border-radius: 2px;
  margin-bottom: 32px;

  a {
    color: $textPrimary;
    &:active, &:hover {
      color: $textPrimary;
    }
  }

  &:hover {
    box-shadow: $boxShadowLv2;
  }

  .item-image {
    position: relative;
    img {
      width: 100%;
      border-radius: 2px;
      background-color: $secondaryColor;
    }

    &:hover {
      .item-image-overlay {
        display: flex;
      }
    }
  }

  .item-image-overlay {
    position: absolute;
    display: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $textHint;
  }

  .item-info {
    padding-right: 54px;
  }

  .item-footer {
    padding: 16px;
    position: relative;

    .btn-buy {
      position: absolute;
      top: 16px;
      right: 16px;
      letter-spacing: 2px;
      font-size: 12px;
      padding-left: 16px;
      padding-right: 16px;
    }
    a.btn-buy {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* GENERAL */
.hero-text {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 36px;
  }
}

.has-hover-element {
  .show-on-hover {
    display: none;
  }

  .hide-on-hover {
    display: inherit;
  }

  &:hover {
    .show-on-hover {
      display: block;
    }

    .hide-on-hover {
      display: none;
    }
  }
}
