@import './variables.scss';
@import './helper.scss';
@import './list.scss';
@import './post.scss';

body {
  background-color: #f8f8f8;
  // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  &.has-announcement {
    .page-content {
      padding-top: 92px!important;
    }

    .header-wrapper {
      top: 27px;
    }
  }
}

::selection {
  background-color: #000;
  color: #fff;
}

.page-content {
  padding-top: 65px!important;
}

/**
 * HEADER
 */
.header-wrapper {
  padding: 8px 16px;
  background-color: #fff;
  height: 64px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,.97);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .tagline {
    margin-top: 4px;
    margin-left: 16px;
    display: inline-block;
  }
}

.top-announcement {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 4px;
  font-weight: 700;
  a {
    color: white;
    text-decoration: underline;
  }
}

$logoSize: 36px;
.logo {
  display: block;
  position: relative;
  width: $logoSize;
  height: $logoSize;
  color: #000!important;
  margin-top: 6px;
  &:visited, &:hover {
    color: #000!important;
    text-decoration: none;
  }

  .d-bg {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 0;
    background-color: #000;
    border-radius: 4px;
    transform: rotate(-10deg);
    width: 100%;
    height: 100%;
  }

  .d-character {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.72 * $logoSize;
    font-weight: 700;
    line-height: $logoSize;
  }
}

.navbar-menu {
  .menu-item {
    a {
      text-decoration: none;
      color: #000;
      font-weight: 700;
      letter-spacing: 0.5px;
      display: block;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 4px 8px;
      border-radius: 4px;
      transition: background-color 350ms ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 1);
        color: #ffff;
      }
    }
  }
}

/**
 * TAGS
 */
.tags-bar {
  padding: 8px 16px;
  text-align: center;

  ul {
    margin-left: 0;
  }
}

.tag {
  display: inline-block;
  border: 2px solid $divider;
  color: $textSecondary;
  padding: 4px 16px;
  border-radius: 999em;
  min-width: 80px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  transition: box-shadow 350ms ease-in-out;
  background-color: #fff;
  vertical-align: middle;
  & + .tag {
    margin-left: 16px;
  }

  &:hover {
    background-color: $divider;
  }

  &.active {
    background-color: $textPrimary;
    color: #fff;
  }

  &.tag-sm {
    font-size: 9px;
    min-width: 40px;
    padding: 2px 8px;
    border: none;
    background-color: $divider;
    border-radius: 2px;

    & + .tag-sm {
      margin-left: 8px;
    }
  }
}

/* GENERAL */
.hero-text {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 28px;
  }
}

.has-hover-element {
  .show-on-hover {
    display: none;
  }

  .hide-on-hover {
    display: inherit;
  }

  &:hover {
    .show-on-hover {
      display: block;
    }

    .hide-on-hover {
      display: none;
    }
  }
}
