@import './variables.scss';
@import './helper.scss';
@import './flexboxgrid.scss';
@import './forms.scss';
@import './buttons.scss';
@import './modals.scss';

/**
 * HEADER
 */
.header-wrapper {
  text-align: center;
  padding: 12px;
}

.logo {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  &:visited, &:hover {
    color: #000;
    text-decoration: none;
  }

  .character-d {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 400;
  }
}
