@import './variables.scss';

.btn {
  padding: 8px 16px;
  border-radius: 2px;
  border: none;
  color: $textPrimary;
  background-color: $divider;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  transition-property: background-color, padding-left;

  &[disabled] {
    user-select: none;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 0px 1px rgba(0,0,0,0.24);
  }

  &.btn-clear {
    background-color: transparent;
    &:hover {
      box-shadow: none;
      background-color: $divider;
    }
  }

  &.btn-primary {
    background-color: $primaryColor;
    color: white;
  }

  &.btn-block {
    width: 100%;
  }

  &.btn-loading {
    padding-left: 32px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 8px;
      top: 8px;
      width: 16px;
      height: 16px;
      background-image: url('../public/loader_sm.svg');
    }
  }

  // SIZES
  &.btn-sm {
    padding: 6px 10px;
    font-size: 12px;
  }
}
