@import './variables.scss';
@import './helper.scss';

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.67);
  z-index: 1000;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  min-height: 0;
  text-align: left;
}

.modal-dialog .modal-content {
  animation: modal-show 250ms ease-in;
}

.modal-content {
  background-color: white;
  border-radius: 2px;
  box-shadow: $boxShadowLv2;
  width: 640px;
  &.modal-xs, &.modal-toast {
    width: 320px;
  }
  &.modal-sm {
    width: 480px;
  }
  &.modal-md {
    width: 640px;
  }
}

.modal-toast {
  padding-bottom: 48px;
  .toast-icon {
    font-size: 64px;
    &.toast-success {
      fill: $success;
    }
    &.toast-error {
      fill: $danger;
    }
  }
}

.modal-header {
  padding: 16px;
  position: relative;
}

.modal-title {
  @extend .text-xl;
  @extend .font-bold;
  color: $textPrimary;
}

.modal-close {
  position: absolute!important;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
}

.modal-body {
  color: $textSecondary;
  padding: 16px;
  line-height: 1.5em;

  .modal-title {
    margin-bottom: 16px;
  }
}

.modal-footer {
  padding: 16px;
}

.modal-actions {
  text-align: right;
  button {
    display: inline-block;
  }
  button + button {
    margin-left: 16px;
  }
}

@keyframes modal-show {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
