/* Brand */
$primaryColor: #000;
$secondaryColor: #777;
$accent: #FFEB3B;

/* Feedback colors */;
$success: #4CAF50;
$info: #03A9F4;
$warning: #FF9800;
$danger: #F44336;
$highlight: #FFEB3B;

/* Text color */;
$textPrimary: rgba(0,0,0,.87);
$textSecondary: rgba(0,0,0,.54);
$textHint: rgba(0,0,0,.38);
$divider: rgba(0,0,0,.12);

$boxShadowLv1: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
$boxShadowLv2: 2px 4px 20px rgba(0, 0, 0, 0.5);
