$sidebarWidth: 240px;

.icon-sm {
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 2px;

  &.link-icon {
    fill: #007bff;
  }
}

.product-detail {
  position: relative;
  padding-left: $sidebarWidth + 32px;

  &.no-sidebar {
    padding-left: 0;
  }

  &.embedded {
    max-width: 800px;
    margin: 0 auto;
  }

  .product-summary {
    width: $sidebarWidth;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;

    .item-icon {
      img {
        width: $sidebarWidth * 0.8;
        border-radius: 20px;
      }
    }

    a.btn-primary {
      color: #fff;
    }

    .item-info {
      margin: 8px 0 40px;
      font-size: 0.9em;
    }

    .item-title {
      font-size: 1.4rem;
      font-weight: 700;
      color: #000;
      margin-bottom: 24px;
      padding-left: 36px;
    }

    .tags {
      margin: 8px 0;

      .mdi.mdi-tag {
        position: relative;
        top: -4px;
      }

      .tag-sm {
        margin-bottom: 12px;
      }

      .tag {
        text-decoration: none;

        &:hover {
          color: inherit;
        }
      }
    }
  }

  .product-thumbnail-container {
    height: 600px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 16px;
    padding-bottom: 16px;

    .thumbnail-list {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .thumbnail-item {
      height: 100%;
      display: inline-block;
      margin-right: 16px;
      border: 1px solid rgba(#aaa, .1);
      list-style: none;
      cursor: zoom-in;

      &:last-child {
        margin-right: 0;
      }

      img {
        height: 100%;
      }
    }
  }

  .product-content {
    h1 {
      font-size: 1.6em;
      font-weight: 700;
    }

    h2 {
      font-size: 1.3em;
      font-weight: 700;
    }

    h3 {
      font-size: 1.2em;
    }


    hr {
      margin: 8px 0;
    }
  }

  .btn-buy .dropdown-menu.show {
    width: 100%;
  }

  a.dropdown-item {
    color: inherit;
    padding: .65rem 1.5rem;
  }

  .btn-split {
    position: relative;
    padding-right: 80px;

    &:after {
      display: none;
    }

    .btn-addon {
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(0,0,0,.2);
      height: 100%;
      width: 64px;
      padding: 8px 0;
      font-weight: 700;
    }
  }

  // Override Bootstrap 4
  .btn-group {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .product-detail {
    padding-left: 0;

    .product-summary {
      position: relative;
      padding-left: 90px;
      width: 100%;
      text-align: left;

      .item-icon {
        width: 80px;
        position: absolute;
        left: 0;
        top: 0;
      }

      .item-title {
        padding-left: 0;
        margin-bottom: 0;
      }

      .item-info {
        margin-bottom: 8px;
      }

      .btn-buy .btn-lg {
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        width: 200px;
      }

      .btn-split {
        padding-right: 70px!important;

        .btn-addon {
          padding: 6px 0;
        }
      }
    }

    .btn-buy .dropdown-menu.show {
      width: auto;
    }

    .product-thumbnail-container {
      height: 320px;
    }

    .product-content {
      iframe[width][height] {
        max-width: 100%;
      }

      h1 {
        font-size: 1.8rem;
      }
    }
  }

  .at-share-dock-outer {
    display: none;
  }
}
