@import '../../styles/variables.scss';
@import '../../styles/helper.scss';

.product-item {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  transition: box-shadow 250ms ease-in-out;
  transition-property: box-shadow;
  border-radius: 2px;
  margin-bottom: 32px;

  a {
    color: $textPrimary;
    &:active, &:hover {
      color: $textPrimary;
    }
  }

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    .item-image-overlay {
      display: flex;
    }
  }

  .item-image {
    position: relative;
    img {
      width: 100%;
      border-radius: 2px;
      background-color: $secondaryColor;
    }
  }

  .item-image-overlay {
    position: absolute;
    display: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $textHint;
  }

  .item-image-stack {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    background-color: grey;
    img {
      width: 35%;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 2px 6px 0 rgba(0,0,0,0.24);
      transform-origin: 50% 100%;
      transition: transform 150ms ease-in-out;
      background-color: #aaa;
      &:nth-child(1) {
        transform: translate3d(-50%, 12%, 0) rotate(20deg);
        z-index: 3;
        &:hover, &:active {
          transform: translate3d(-38%, 0, 0) rotate(20deg);
        }
      }
      &:nth-child(2) {
        z-index: 2;
        &:hover, &:active {
          transform: translate3d(-50%, -12%, 0);
        }
      }
      &:nth-child(3) {
        transform: translate3d(-50%, 12%, 0) rotate(-20deg);
        z-index: 1;
        &:hover, &:active {
          transform: translate3d(-62%, 0, 0) rotate(-20deg);
        }
      }
    }
  }

  .item-info {
    position: relative;
    padding-left: 44px;
    padding-right: 50px;
  }

  .item-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 8px;
  }

  .item-tags {
    height: 28px;
    overflow: hidden;
  }

  .item-footer {
    padding: 16px;
    position: relative;

    .item-price {
      position: absolute;
      top: 16px;
      right: 16px;
      text-align: right;
      font-size: 20px;
    }
    a.item-price {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
