---
layout: default
---

<div class="hero-text">
  Best of Ionic Themes & Plugins
</div>

<div class="tags-bar wrapper">
  <ul>
    <li class="tag active">
      All
    </li>
    <li class="tag">
      Ionic 3
    </li>
    <li class="tag">
      Ionic 1
    </li>
  </ul>
</div>

<div class="padder-v text-center text-muted text-sm m-b">
  Purchasing process will take place at <span class="font-bold text-dark">Gumroad</span> product pages.
</div>

<div class="product-container">
  <div class="product-items row">
    {% for item in site.data.products %}
      <div class="col-lg-4 col-md-6">
        <div class="product-item">
          <div class="item-image">
            <img src="images/product_image_1.png" alt="">
          </div>
          <div class="item-footer">
            <div class="item-info">
              <div class="font-bold">
                LinkedIn UI 2
              </div>
              <div class="text-muted text-sm">
                Social Network for Professional
              </div>
              <div class="item-tags">
                <div class="tag tag-sm">
                  Ionic 3
                </div>
                <div class="tag tag-sm">
                  Themes
                </div>
              </div>
            </div>

            <button class="btn btn-sm btn-dark btn-buy">
              BUY
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
