---
layout: default
---

<div class="hero-text">
  Best of Ionic Themes & Plugins
</div>

<div class="padder-v text-center text-muted text-sm m-b d-none d-md-block">
  Based on <a href="https://ionicframework.com/" class="font-bold text-dark" target="_blank">Ionic Framework</a> - My favorite hybrid mobile app framework
</div>

<div class="product-container">
  <div class="product-items row">
    {% for item in site.posts %}
      <div class="col-lg-4 col-md-6">
        {% include listItem.html item=item %}
      </div>
    {% endfor %}
  </div>
  <div class="text-center text-muted">Total: {{ site.posts | size }} items.</div>
</div>
