---
layout: default
---
<div class="post-toolbar m-b">
  <a class="btn btn-link btn-sm" href="/">
    <i class="mdi mdi-chevron-left"></i> Back
  </a>

  <!-- <button class="btn btn-sm pull-right">
    <i class="mdi mdi-share-variant"></i>
    Share
  </button> -->
</div>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- if false -%}
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>
  {%- endif -%}

  <div class="post-summary">
    <div class="item-icon">
      <img src="{{ page.icon }}" alt="">
    </div>
    <div class="item-info">
      <div class="item-title">
        {{ page.title}}
      </div>

      <div>Created on {{ page.createdAt | date: '%B %d, %Y'}}</div>
      <div>{{ page.framework }} · {{ page.category }}</div>
      <div><i class="mdi mdi-tag"></i> <div class="tag tag-sm">dating</div><div class="tag tag-sm">social network</div></div>
    </div>

    <div>
      <div class="btn-group m-b btn-block btn-buy">
        <button type="button" class="btn btn-dark btn-block btn-lg dropdown-toggle btn-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buy now
          <div class="btn-addon" title="USD${{ page.price }}">
            ${{ page.price }}
          </div>
        </button>
        <div class="dropdown-menu">
          {%- if page.gumroadUrl -%}
            <a class="dropdown-item" href="{{ page.gumroadUrl }}" target="_blank">
              <i class="mdi mdi-open-in-new"></i> Pay via Gumroad
            </a>
          {%- endif -%}

          {%- if page.sellfyUrl -%}
            <a class="dropdown-item" href="{{ page.sellfyUrl }}" target="_blank">
              <i class="mdi mdi-open-in-new"></i> Pay via Sellfy
            </a>
          {%- endif -%}

          {%- if page.paypalUrl -%}
            <a class="dropdown-item" href="{{ page.paypalUrl }}" target="_blank">
              <i class="mdi mdi-open-in-new"></i> Pay via Paypal
            </a>
          {%- endif -%}

          <div class="dropdown-divider"></div>

          {%- if page.githubUrl -%}
            <a class="dropdown-item" href="{{ page.githubUrl }}" target="_blank">
              <i class="mdi mdi-open-in-new"></i> View on Github
            </a>
          {%- endif -%}

          {%- if page.marketUrl -%}
            <a class="dropdown-item" href="{{ page.marketUrl }}" target="_blank">
              <i class="mdi mdi-open-in-new"></i> View on Ionic Market
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div class="post-thumbnail-container">
    <ul class="thumbnail-list">
      {% for imageUrl in page.thumbnails %}
        <li class="thumbnail-item">
          <img src="{{ imageUrl }}" alt="">
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
