$bgColor: tomato;

.hero-slide {
  .slide-item {
    height: 400px;
    width: 100%;
    background-color: $bgColor;
    color: #fff;
    padding: 36px 60px;
    border-radius: 16px;
    overflow: hidden;

    .row {
      height: 100%;
    }
  }

  .slide-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .label-latest {
    font-size: 14px;
    background-color: rgba(255, 255, 255, .3);
    padding: 0 8px;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
  }

  .slide-title {
    font-size: 36px;
    letter-spacing: 0.5px;
    letter-spacing: -0.025em;
    font-weight: 700;
  }

  .slide-subtitle {
    font-size: 20px;
  }

  .slide-cta {
    display: inline-block;
    border-radius: 99em;
    padding: 12px 24px;
    background-color: #fff;
    color: $bgColor;
    margin-top: 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    min-width: 200px;
    text-decoration: none;
  }

  .slide-images {
    position: relative;
    height: 100%;
  }

  .image-item {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 4px;
    z-index: 2;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);

    &:nth-child(2) {
      width: 40%;
      transform: translate(25%, 10%);
      z-index: 1;
    }

    &:nth-child(3) {
      width: 40%;
      transform: translate(-120%, 16%);
      z-index: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .slide-description {
    text-align: center;

    .slide-title {
      font-size: 32px;
    }

    .slide-subtitle {
      font-size: 16px;
    }

    .slide-cta {
      font-size: 16px;
    }
  }

  .slide-images {
    display: none;
  }
}
